        :root{
            --bg-theme:#f5f4f4;
            --bg2-color:#c4cfdd;
            --text-color:black;
        }
        .dark-mode {
              --bg-theme: #232321;
              --bg2-color: #292d1d;
              --text-color: #c4cfdd;
              }
        body{
            transition:background 0.4s ease, color 0.4s ease;
        }
        *,body{
            background: var(--bg-theme);
            color: var(--text-color);
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: var(--bg-theme);
            text-align: center;
        }
        .total-container{
            margin: auto;
            width: 75%;
            height: 100%;
            border: 3px solid var(--bg2-color);
            min-height: 100vh;
            transition:background 0.4s ease, color 0.4s ease;
        }
        header{
            height: 6rem;
        }
        #darkModeBtn,.del-allBtn{
            background-color: var(--bg-theme); 
             color: var(--text-color);
             position: relative;
             bottom: 0.5rem;
             width: fit-content;
             height: 1.5rem;
             font-weight: 600;
             font-size: 70%;
             border-radius: 10px;
             padding: 6px 12px;
            white-space: nowrap;
        }
        .del-allBtn{ 
             right: 23%;
            }
        .del-allBtn:active{
                color: rgb(215, 87, 87);
            }
        #darkModeBtn{
            left: 20%;
        }
       #darkModeBtn:active{
                color: var(--text-color);
                background-color: var(--bg2-color);
               }
        .task-inputBox{
            height: 6rem;
            background-color:var(--bg2-color);
        }
        #input-value{
            border: none;
            border-bottom: 1px solid;
            outline: none;
            width: 85%;
            height: 50%;
            background-color: var(--bg2-color);
            text-align: start;
            font-size: large;
        }
        .task-inputBox button{
            border-radius: 5px;
            cursor: pointer;
        }
        .add-btn{ 
            width: 6rem;
            height: 2.3rem; 
            font-size: medium;
            color: var(--bg2-color);
            background-color: var(--text-color);
            position: relative;
            top: 3px;
        }
        .selectOption{
            width: 100%;
            height: 50%;
            background-color: inherit;
           align-content: center;
           display: flex;
           justify-content:flex-start;
           gap: 2rem;
           align-items: center;
           
        }
        .selectOption select{
            height: 60%;
            background-color: var(--bg-theme);
            /* margin-left: 2rem; */
            opacity: 70%;
            width: 15%;
        }
        .dueDate{
            height: 60%;
             background-color: var(--bg-theme);
            opacity: 70%;
            border: 1px solid black;
            width: 15%;
        }
        /* Input box code end */

        #tasks-container{
           height: 100%;
        }
        #tasks-container li{
            height: 12vh;
            border-bottom: 1px solid;
            list-style: none;
            display: flex;    
            align-items: center;
            position: relative;
        }
        .checkdiv{
            width: 5%;
            padding-top: 1rem;
        }
        .checkdiv input{
            width: 1rem;
            height: 1rem;
        }
        .task-box > div{
            height: 100%;
        }
        .textarea{ width: 80%; }
        .text{
             text-align: left;
            font-weight: bold;
            font-size: large;
            padding-top: 0.7rem;
            border: none;
            outline: none;
            width: 100%;
        }
        .metabox{
             height: 50%;
             text-align: left;
             align-items: center;
            opacity: 80%;
            display: flex;
        }
        .metabox span{ 
            margin-left: 1rem; font-size:small; border-radius: 50px; padding: 1px 7px;
            background-color:var(--bg-theme); border: 1px solid black;
        }
        .edit-del-box{ width: 15%; }
        .edit-del-box button{
            cursor: pointer;
            font-size:large;
            border: none;
            margin: 5px;
            margin-left: 10%;
            position: relative;
            left: 20%;
        }
        .edit-del-box button:hover{
            transform: scale(1.10);
            color: gray;
        }

         @media (max-width:900px){ 
            .total-container{width: 90%;}
        }
         @media (max-width:700px){ 
            .total-container{width: 100%;}
            .del-allBtn{ right:10%; top:1px;  width: 20%;}
             .selectOption select{width: 20%; margin: 0.5rem;}
             .dueDate{width: 25%; }
              .del-allBtn{right: 5%; top: 35%;}
               #darkModeBtn{ left: 5%; top: 20%; }
              #input-value{width: 75%;}
             /* header{height: 12vh;} */
             #time{font-size: smaller;}
        }
         @media (max-width:400px){
             #darkModeBtn{ left: 2%; top: 25%; }
             #input-value{width: 65%;}
            .del-allBtn{right: 2%; top: 35%;}
         }